.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(45, 74, 99, 0.373);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .box {
    // width: 80%;
    width: 350px;
    height: 50vh;
    z-index: 12;
    background-color: #fff;
    border-radius: 10px;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;

    .headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding: 10px 30px 0px 0px;
    //   border: 5px solid black;
    //   flex: 1;


      span {
        flex: 1;
        font-size: 30px;
        cursor: pointer;
      }
    }

    .btn-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 5px solid black;
        flex: 1;
    }

    .msg-box{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  }


}
