
@import "./topBar.scss";


.nav{
    background-color: #00000020;;
}

.nav-item button{
    font-weight: bolder;
    font-size: 20px;
    // color: rgb(239, 9, 9);
}

.nav-link[aria-selected=false]{
    font-weight: bolder;
    color: rgb(96, 8, 185);
}

.navbar-nav{

    .nav-link{
      box-shadow:  2px 2px 2px 1px #2322220e;
      margin: 0px 5px;
    }

    .nav-link:hover{
        box-shadow:  0px 0px 10px #2322220e;

    }    
}



