
@import "./topBar.scss";


.nav{
    background-color: #00000020;
    position: relative;
}

.nav-item button{
    font-weight: bolder;
    font-size: 20px;
    // color: rgb(239, 9, 9);
}

.nav-link[aria-selected=false]{
    font-weight: bolder;
    color: rgb(96, 8, 185);
}


.navbar-nav{

    .nav-link{
      box-shadow:  2px 2px 2px 1px #2322220e;
      margin: 0px 5px;
    }

    .nav-link:hover{
        // box-shadow:  0px 0px 10px #2322220e;

    }    
}

.card-text span{
    font-size: 20px;
    font-weight: 1000;
    color: #FE472D;
}

.addShow{
    // border: 1px solid black;
    box-shadow: 1px 1px 5px #00000020;
    padding: 10px 15px;
}

.addShow input {
    // // border: 1px solid black;
    box-shadow: 0px 0px 5px #fe452d62;
    // padding: 10px 15px;
    // border: none;
}

.addShow .form-control{
    box-shadow: 0px 0px 5px #fe452d62;

    
}

