.modal {
  font-family: 'Roboto Mono', monospace; 
}

.modal {
  position: fixed;
  width: 400px;
  // height: 100%;
  z-index: 10000;
  top: 30%;
  left: 30%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  display: flex;
  z-index: 6;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #df222256;
  opacity: 1;
  overflow-y: scroll;

  .contam {
    opacity: 1;
    background: #ffffff;
    // border:5px solid black;
    width: 80%;
    // height: 100%;

    z-index: 10;
    padding: 10px;
  }
  .modal-header {
    // border: 1px solid #020203;
    display: flex;
    justify-content: center;
  }

  .modal-title {
    font-weight: 500;
    font-size: 1.25rem;
    flex: 3;
    border-bottom: 1px solid black;
    padding: 0px 0px 0px 10%;
    text-align: left;
    // border: 5px solid black;
  }

  .close-btn {
    flex: 1;
    // border: 1px solid #020203;
    display: flex;
    justify-content: end;
    padding: 0px 30px;

    .close-button {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      border: none;
      background-color: white;
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 12px;
}

.close-button {
}
button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.secondary-button {
  color: #fff;
  background-color: #6c757d;
}
.primary-button {
  color: #fff;
  background-color: #007bff;
}

.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card_insert{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  background-color: #27262665;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  .box{
    // border: 1px solid black;
    background-color: #fffdfd;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    // height: 30vh;

    .header{
      // border: 1px solid black;
      display: flex;
      // justify-content: center;

      span{
        flex: 1;
      // border: 1px solid black;
      text-align: end;
      padding: 5px 15px 0px 0px;
      font-size: 20px;
      cursor: pointer;
      }
       h4{
        flex: 4;
        // border: 1px solid black;
        // font-size: small;


      }
    }

    .img-dis{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

    }
  }
}