

.header-cont1{
    background-color: #444343 ;
    // position: sticky !important;
    // position: -webkit-sticky !important;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#basic-nav-dropdown1{
    color: #fff !important;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}