body {
  margin: 0;
  font-family: 'Pacifico' cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Pacifico' cursive !important;
}
