.outer-cont {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Roboto Mono', monospace;
    margin-top: 30px;
    /* padding: 10% 0 0 0; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.outer-cont h3{
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    color: #FE472D;
}



.cont-one, .cont-two , .cont-three {
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    
}

.box{
    border: 1px solid white;
    width: 80%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow:  1px 1px 25px #b8b4b45c ;
    cursor: pointer;
}

.box:hover{
    box-shadow: inset 1px 1px 15px #b8b4b45c ;
    transform: scale(1.2);
    z-index: 1;
 
}

.box img{
    width: 100px;
    height: 110px;
    margin: 10px 0;
}

.box div{
    margin: 10px 0 0 0 ;
}


.box button{
    margin: 15px 10px;
    padding: 5px 20px;
    border-radius: 2px;
    font-weight: 10000;
    background-color: #fff;
    color: #FE472D;
    border: none;
    box-shadow: 1px 1px 5px #9a979760; 

}

.box button:hover{
    box-shadow: inset 1px 1px 10px #fe452d92;

}

.dis-det{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;

}
.dis-det h3{
    text-align: left;
    font-weight: 1000;
    font-size: 30px;
    width: 93%;
    color: #FE472D;
    margin: 25px 0px;
    /* border-bottom: 1px solid rgba(118, 112, 112, 0.525); */
    padding-bottom: 10px;
}


.dis-det p{
    text-align: left;
    font-size: 15px;
    line-height: 35px;
    word-spacing: 5px;
}

.dis-det p span{
    font-weight: 1000;
    font-size: 20px;
    line-height: 70px;
    color: #FE472D;
    border-radius: 10px;
}

.dis-det p span::before{
    display: absolute;
    content: '';
    border-radius: 10px;
    margin: 0px 10px;
    border-left: 10px solid #444343;
}



@media (max-width: 992px) { 

    .outer-cont{
        padding: 0 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-one , .cont-two, .cont-three {
        height: 100%;
        width: 100%;
    }
    .box{
        flex-direction: column;
        margin: 10px 0;
        padding: 20px 0px;
    }

  }