

.header-cont-hospital{
    background-color: #444343 !important;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#basic-nav-dropdown-hospital{
    color: #ffff !important;
    font-weight: 900;
    font-size: 15px !important;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}